<!Doctype html>
<html>

<head>
    <%- include('./layout/head.ejs') %>
</head>

<body>
    <header>
    </header>
    <main>
        <h1>Welcome to this little recipe API</h1>

        <section> <%- include('./layout/info-table.ejs') %></section>
        <section>
            <details>
                <summary>Complete Recipe List</summary>
                <div>

                    <ol>
                        <% for(let i=0; i < list.length; i++){ %>
                            <li>
                                <%= list[i] %>
                            </li>
                            <% } %>
                    </ol>
                </div>
            </details>
        </section>
    </main>
</body>
<footer>


</footer>

</html>