<table>
    <tr>
        <td>Endpoint</td>
        <td>Method</td>
        <td>Bearer token?</td>
        <td>Admin only</td>
        <td>Request</td>
        <td>Response</td>
    </tr>
    <tr>
        <td>/</td>
        <td>GET</td>
        <td></td>
        <td></td>
        <td>Full recipe data list</td>
        <td></td>
    </tr>
    <tr>
        <td>/login</td>
        <td>POST</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>/recipes</td>
        <td>GET</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>


</table>